body {
  display: block;
  width: 1290px;
  margin: 0 auto;    
}

#header {
  background-image: url(pictures/headertest.png);
  background-repeat: no-repeat;
  height: 160px;
  font-family: Love Ya Like A Sister;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 50px;
  padding-top: 10px;
}

#weather {
  background-color: #EA6B6E;
  opacity: 0.7;
  font-size: 18px;
  /*border-radius: 100px;*/
  font-family: Love Ya Like A Sister;
  width: 150px;
  float: right;
  margin-top: -60px;
  
  
}

#catFactSection {
  background-color: #48172D;
  height: 240px;
  color: white;
  text-align: center;
  position: static;
  font-family: Love Ya Like A Sister;
}

#factBtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Love Ya Like A Sister;
  color: #ffffff;
  font-size: 20px;
  background: #FBAB18;
  padding: 5px 7px 7px 9px;
  text-decoration: none;
  margin-top: 1px;
}

#factBtn:hover {
  background: #facb7b;
  text-decoration: none;
}

#newFact {
  font-size: 16px;
}

#yt {
  background-color: #FBAB18;
  height: 240px; 
  text-align: center;
}

#playBtn {
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Love Ya Like A Sister;
  color: white;
  font-size: 20px;
  background: #48172D;
  padding: 5px 7px 7px 9px;
  margin-top: 80px;
}

#playBtn:hover {
  background: #6F2345;
  text-decoration: none;
}

#catList {
  background-color: #62997A;
  height: 400px;
  font-family: Love Ya Like A Sister;
}

#addCatBtn {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Love Ya Like A Sister;
  color: ##879C29;
  font-size: 15px;
  background: #F2EFDC;
  padding: 5px 7px 7px 9px;
  text-decoration: none;

}

#addCatBtn:hover {
  background: #AAC434;
  text-decoration: none;
}


#adminLoginBtn {
  color: #d4cb96;
  font-size: 15px;
  background: #9ca181;
  padding: 5px 5px 2px 5px;
  text-decoration: none;
  margin-bottom: 5px;
}



table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;   
}

table, th, td { 
    margin-bottom: 35px;
}

td {
   
}

th {
  
    height: 70px;
    background-color: #62997A;
    font-size: 18px;
}

td > img {
    width: 90px;
    height: 50px;
}

th:last-child {
    width: 100px;
}

