
/* ===== weather ===== */

#weatherIcon {
    width:50%;
    display: inline-block;
    
}


 #weatherResult {
    
    color: white;
    font-weight: bolder;
    display: inline-block;
    font-size:1.5em; 
    background-color:pink;
    border-radius: 50%;
    padding:10%; 
}
  

/* ===== animationIcon ===== */

#animationIcon {
    background: transparent;
    
    
}
  
#animationIcon > img{
    width:140px;
    height: 140px;
    position: relative;
    -webkit-animation: mymove 20s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
    animation: mymove 20s infinite;
    animation-iteration-count: 2;
    border-radius: 50%;
    transition: width 2s, height 4s;
}
  #animationIcon > img:hover { 
    width: 200px;
    height: 200px;  }


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 950px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 950px;}
}

/* ===== Cat table ===== */


#catTable {
    display: flex;
    flex-direction:column;
    text-align: center;
   
    
}


 tr > td {
     
    padding: 10px;
    background-color:#62997A;
    width: 17%;
     height:12% ;
    border-radius: 80%;
    border: 1px solid black;
    
}


td:last-child {
    width: 32.4%;
    height:14%; 
    border-radius: 10px;
}


th  {
     
    width: 12.5%;
    background-color: mediumaquamarine;
    border: 1px solid black; 
    padding: 10px; 
    border-radius: 10px;
    
}

.inputClass {
  width:100%;
   font-size:0.80em;   
}
td > img {
    width: 40%; 
}


/* ===== media ===== */
@media (min-width:160px) and (max-width:700px) {
     #animation > img {
    animation: mymove 2s infinite;
    animation-iteration-count:0;
      
  }
@keyframes mymove {
    from {left: 0px;}
    to {left: 100px;}
}
    #animationIcon{
        background-color: transparent;  
    }   
 
  tr > td {
     
    padding: 4px;
}
    .inputClass {
   font-size:0.51em;   
}

}









