/* ===== General ===== */
body {
  margin: 0;
  background-color: yellow;
}
body, #root {
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana;
  color: white;
}
#root {
  width: 100%;
  min-width: 400px;
}
#root > div {
  width: 90%;
  margin-bottom: 30px;
}
#weather, #facts, #yt, #lists {
  border-radius: 10px;
  padding: 10px;
}
/* ===== Admin ===== */
#admin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#admin > button {
  background-color: gold;
  width: 2em;
}

/* ===== Weather ===== */
#weather {
  border: 1px solid lightblue;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#weather > h1 {
  border: 1px dotted blue;
  align-content: flex-start;
  color: white;
  font-size: 3em;
}
#weather > div {
  border: 1px dotted blue;
  margin-right: 10px;
}

/* ===== Cat Facts ===== */
#facts {
  border: 1px solid green;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== YouTube ===== */
#yt {
  border: 1px solid orange;
  background-color: orange;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
#yt > div {
  border: 1px dotted orange;
  width: auto;
}
#yt img {
  width: 320px;
  height: 240px;
}

/* ===== Lists ===== */
#lists {
  border: 1px solid gold;
  background-color: gold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#lists > h3 {
  align-self: center;
}
#lists > form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#lists > input {
  padding: 0.5em;
}
button {
  background-color: #33cc33;
  color: white;
  padding: 0.6em;
  border: none;
}
button:hover {
  cursor: pointer;
}
span.pink {
  color: deeppink;
}